.list {
  list-style: none;
}

.nav-link {
  color: #837d88;
  font-size: 13px;
  text-decoration-line: none;
}

.plans-link {
  color: #2c2830;
  font-size: 13px;
  text-decoration-line: none;
  border: 1.5px solid #2C2830;
  text-align: center;
}

.section-humaniz {
  background-color: #2d2641;
}

.humaniz {
  display: inline-block;
  width: 540px;
}

.title-humaniz {
  color: #fff;
  font-size: 72px;
}

.text-humaniz {
  color: #fff;
  font-size: 16px;
}

.btn {
  color: #fff;
  font-size: 13px;
  text-decoration-line: none;
  border: 1.5px solid #fff;
}

.different-box {
  display: inline-block;
  width: 350px;
}

.title-different {
  color: #2C2830;
  font-size: 72px;
}

.title {
  color: #2c2830;
  font-size: 28px;
}

.text {
  color: #837d88;
  font-size: 16px;
}

.artic-box {
  background-color: #2d2641;
}

.box-artic {
  display: inline-block;
  width: 475px;
}

.artic-title {
  color: #fff;
  font-size: 56px;
}

.footer-list {
  background-color: #fafafa;
}

.footer-iteam {
  color: #837d88;
}

.iteam-link {
  color: #2d2641;
  font-size: 13px;
  text-decoration-line: none;
}

.company {
  display: inline-block;
  width: 255px;
}